<% content_for :navigation_end do %>
  <div class="navbar-item">
    <div class="buttons">
      <%= link_to t('.login'), login_url, class: 'button is-text' %>
      <%= link_to t('.sign_up'), login_url, class: 'button is-info' %>
    </div>
  </div>
<% end %>

<%= render 'shared/navigation' %>
