<% content_for :navigation_end do %>
  <div class="navbar-item">
    <div class="buttons">
      <a href="#" class="button is-text">
        <%= t '.login' %>
      </a>
      <a href="#" class="button is-primary">
        <%= t '.sign_up' %>
      </a>
    </div>
  </div>
<% end %>

<%= render 'shared/navigation' %>
