<% content_for :navigation_end do %>
  <div class="navbar-item">
    <div class="buttons">
      <%= link_to t('.login'), new_user_session_url, class: 'button is-text' %>
      <%= link_to t('.sign_up'), new_user_url, class: 'button is-info' %>
    </div>
  </div>
<% end %>

<%= render 'shared/navigation' %>
