<div class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Im<em>pressy</em> your audience
      </h1>
      <h2 class="subtitle">
        Turn <em>boring</em> PDF presentations into something <strong>better</strong>
      </h2>
    </div>
  </div>
</div>
