<% if notifications.any? %>
  <div class="notifications">
    <div class="container">
      <% notifications.each do |notification| %>
        <div class="notification <%= notification.css_class %>">
          <button class="delete"></button>
          <%= notification.message %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
