<% content_for :navigation_end do %>
  <div class="navbar-item has-dropdown is-hoverable">
    <p class="navbar-item">
      <%= current_user.email %>
    </p>

    <div class="navbar-dropdown is-boxed">
      <%= link_to destroy_session_url, class: 'navbar-item', method: :destroy do %>
        Logout
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'shared/navigation' %>
